<div class="formulario-container">
    <h2>Formulário de Cadastro de Lançamento</h2>
    <form (ngSubmit)="onSubmit()" class="formulario-form">
        <p-toast />

        <label for="nome">Nome:</label>
        <input id="nome" pInputText [(ngModel)]="lancamento.nome" name="nome">

        <label for="descricao">Descrição:</label>
        <input id="descricao" pInputText [(ngModel)]="lancamento.descricao" name="descricao" >

        <label for="data">Data:</label>
        <input id="data" pInputText [(ngModel)]="lancamento.data" name="data">

        <label for="tipo">Tipo:</label>
        <input id="tipo" pInputText [(ngModel)]="lancamento.tipo" name="tipo" >

        <label for="valor">Valor:</label>
        <input id="valor" pInputText [(ngModel)]="lancamento.valor" name="valor">

        <label for="categoria">Categoria:</label>
        <input id="categoria" pInputText [(ngModel)]="lancamento.categoria" name="categoria" >

        <!--<p-dropdown
                [options]="categorias"
                [(ngModel)]="categoriaSelecionada"
                optionLabel="value"
                placeholder="Selecione uma categoria"
                name="categoria"/>-->

        <select [(ngModel)]="categoriaSelecionada" name="categoria">
            <option *ngFor="let categoria of categorias" [value]="categoria.value">
                {{ categoria.label }}
            </option>
        </select>


        <p-button label="Salvar" [raised]="true" type="submit"></p-button>

    </form>
</div>
