<div class="menu-voltar">
    <p-button label="Voltar" [raised]="true" (click)="voltar()"></p-button>
</div>
<div class="formulario-container">
    <h2>Formulário de Cadastro de Lançamento</h2>
    <form (ngSubmit)="onSubmit()" class="formulario-form">
        <p-toast />

        <label for="nome">Nome:</label>
        <input id="nome" pInputText [(ngModel)]="lancamento.nome" name="nome">

        <label for="descricao">Descrição:</label>
        <input id="descricao" pInputText [(ngModel)]="lancamento.descricao" name="descricao" >

        <label for="data">Data:</label>
        <input id="data" pInputText [(ngModel)]="lancamento.data" name="data">

        <label for="tipo">Tipo:</label>
        <select [(ngModel)]="tipoSelecionada" name="tipo" style="font-size: 16px; padding: 8px; ">
            <option *ngFor="let tipo of tipos" [value]="tipo.value">
                {{ tipo.label }}
            </option>
        </select>

        <label for="valor">Valor:</label>
        <input id="valor" pInputText [(ngModel)]="lancamento.valor" name="valor">

        <!--<label for="categoria">Categoria:</label>
        <input id="categoria" pInputText [(ngModel)]="lancamento.categoria" name="categoria" >-->

        <!--<p-dropdown
                [options]="categorias"
                [(ngModel)]="categoriaSelecionada"
                optionLabel="value"
                placeholder="Selecione uma categoria"
                name="categoria"/>-->
        <label for="categoria">Categoria:</label>
        <select [(ngModel)]="categoriaSelecionada" name="categoria" style="font-size: 16px; padding: 8px;">
            <option *ngFor="let categoria of categorias" [value]="categoria.value">
                {{ categoria.label }}
            </option>
        </select>


        <p-button label="Salvar" [raised]="true" type="submit"></p-button>

    </form>
</div>
