<p-button label="Voltar" [raised]="true" (click)="voltar()"></p-button>

<div *ngIf="pessoa">
    <h3>Detalhes da Pessoa</h3>
    <p><strong>Nome:</strong> {{ pessoa.nome }}</p>
    <p><strong>CPF:</strong> {{ pessoa.cpf }}</p>
    <p><strong>Email:</strong> {{ pessoa.email }}</p>
    <p><strong>Telefone:</strong> {{ pessoa.telefone }}</p>

    <!-- Botão para editar a pessoa selecionada -->
    <p-button label="Editar Pessoa" (click)="editarPessoa(pessoa)" ></p-button>

    <!-- Tabela com grupos associados à pessoa -->
    <h4>Grupos Associados</h4>
    <p-table [value]="pessoa.grupos" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome do Grupo</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-grupo>
            <tr>
                <td>{{ grupo.nome }}</td>
                <td>{{ grupo.descricao }}</td>
                <td><p-button label="Remover" ></p-button> <p-button label="Editar"></p-button></td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Botão para adicionar um novo grupo à pessoa -->
    <!--<p-button label="Adicionar Novo Grupo" (click)="criarNovoGrupo(pessoaSelecionada)"></p-button>-->
</div>