
<!--    Menu   -->
<div class="menu-voltar">
    <p-button label="Voltar" [raised]="true" (click)="voltar()"></p-button>&nbsp;&nbsp;<p-button label="Editar" [raised]="true" (click) = "editarLancamento()"></p-button>
</div>
<!--    Menu   -->

<div class="tudo-sobre-lancamento" *ngIf="lancamento">

    <!--    Detalhes do Lançamento   -->
    <div class="detalhes-lancamento">
        <p-panel header="Detalhes do Lançamento">
            <p><strong>Nome do Lançamento:</strong> {{ lancamento.nome }}</p>
            <p><strong>Descrição:</strong> {{ lancamento.descricao }}</p>
            <p><strong>Data:</strong> {{ lancamento.data }}</p>
            <p><strong>Tipo:</strong> {{ lancamento.tipo }}</p>
            <p><strong>Valor:</strong> {{ lancamento.valor }}</p>
            <p><strong>Categoria:</strong> {{ lancamento.categoria }}</p>
        </p-panel>
    </div>

</div>
