<div class="menu-voltar"><p-button label="Voltar" [raised]="true" (click)="voltar()"></p-button>
    &nbsp;&nbsp;<p-button label="Lista de Pessoas" [raised]="true" (click)="voltarHome()"></p-button>   
    &nbsp;&nbsp;<p-button label="Editar Grupo" [raised]="true" (click)="editarGrupo()"></p-button>
</div>

<!--    Tudo Sobre Grupo   -->
<div class="tudo-sobre-grupo" *ngIf="grupo">

    <!--    Detalhes do Grupo   -->
    <div class="detalhes-grupo">
        <p-panel header="Detalhes do Grupo">
            <p><strong>Nome do Grupo:</strong> {{ grupo.nome }}</p>
            <p><strong>Descrição:</strong> {{ grupo.descricao }}</p>
            <p><strong>Saldo:</strong><span [ngStyle]="{'color': grupo.saldo <= 0 ? 'red' : 'green'}">{{grupo.saldo | currency: 'BRL':'symbol':'1.2-2'}}</span></p>
        </p-panel>
    </div>

    <!-- Lançamentos e Metas lado a lado -->
<div class="lancamentos-metas-container">
    <div class="info-lancamentos">
        <p-panel header="Lançamentos">
            <p-table [value]="lancamentos" [tableStyle]="{ 'min-width': '100%' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lancamento>
                    <tr>
                        <td>
                            <span (click)="verLancamento(lancamento.id)" style="cursor: pointer; color: blue;">
                                {{ lancamento.nome }}
                            </span>
                        </td>
                        <td>{{ lancamento.categoria }}</td>
                        <td [ngStyle]="{'color': lancamento.tipo === tipo.Despesa ? 'red' : 'green'}">
                            {{ lancamento.valor | currency: 'BRL':'symbol':'1.2-2' }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>

    <div class="info-metas">
        <p-panel header="Metas">
            <p-table [value]="metas" [tableStyle]="{ 'min-width': '100%' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Categoria</th>
                        <th>Valor</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-meta>
                    <tr>
                        <td>{{ meta.categoria }}</td>
                        <td>{{ meta.valor | currency: 'BRL':'symbol':'1.2-2' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>
</div>
<p-button label="Ver Lançamentos" [raised]="true" (click)="verLancamentos()"></p-button>
<p-button label="Novo Lançamento" [raised]="true" (click)="novoLancamento()"></p-button>&nbsp;
<p-button label="Ver Metas" [raised]="true" (click)="verMetas()"></p-button>
<p-button label="Nova Meta" [raised]="true" (click)="novaMeta()"></p-button>
