<p-button label="Novo Grupo" [raised]="true" (click)="novoGrupo()"></p-button>
<p-table [value]="gruposList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Saldo</th>
            <th>Ação</th>
            <th>Lancamentos</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-grupo>
        <tr>
            <td>{{ grupo.nome }}</td>
            <td>{{ grupo.descricao }}</td>
            <td>{{ grupo.saldo }}</td>
            <td><p-button (click) = "editarGrupo(grupo)">Editar</p-button> <p-button (click) = "verGrupo(grupo)">Ver</p-button> </td>
            <td><p-button (click) = "CriarLancamento(grupo)">Novo Lançamento</p-button></td>
        </tr>
    </ng-template>
</p-table>