h2 {
    text-align: center; /* Centraliza o título */
    color: #333; /* Cor do texto do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
  }
  
  table {
    width: 100%; /* A tabela ocupa toda a largura disponível */
    border-collapse: collapse; /* Remove o espaço entre as bordas das células */
    margin: 0 auto; /* Centraliza a tabela na página */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px; /* Espaçamento interno nas células */
    text-align: left; /* Alinha o texto à esquerda */
    border-bottom: 1px solid #ccc; /* Borda abaixo das células */
  }
  
  th {
    background-color: teal; /* Cor de fundo para o cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    font-weight: bold; /* Negrito para o texto do cabeçalho */
  }
  
  tr:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse sobre as linhas */
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
  }