<div class="formulario-container">
  <h2>Formulário de Cadastro de Pessoa</h2>
  <form (ngSubmit)="onSubmit()" class="formulario-form">

    <label for="nome">Nome:</label>
    <input id="nome" pInputText [(ngModel)]="pessoa.nome" name="nome">

    <label for="email">E-mail:</label>
    <input id="email" pInputText [(ngModel)]="pessoa.email" name="email" >

    <label for="cpf">CPF:</label>
    <input id="cpf" pInputText [(ngModel)]="pessoa.cpf" name="cpf" >

    <label for="telefone">Telefone:</label>
    <input id="telefone" pInputText [(ngModel)]="pessoa.telefone" name="telefone" >

    <p-button label="Cadastrar" [raised]="true" type="submit"></p-button>

  </form>
</div>
